* {
	margin: 0;
	padding: 0;
}

body {
	font: normal normal normal 16px "Trebuchet MS", Arial, Times;
	color: #000000;
}

input[type=text],textarea {
	width: 100%;
	font: normal normal normal 16px "Trebuchet MS", Arial, Times;
	border: solid #818181 1px;
}
